.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: none;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;

}
#h0mepage {

  height:800px;
  background-size:cover;
  background-position:center;
  padding-top:250px;
}
#logoimage{
  width:80px;
  float:left;
  padding-bottom: 10px;
}
.container-fluid{
  padding-top:20px;
}
#h0mepage{
  font-family:serif;
  color:white;
}
.img-circle{
  height:300px;
  width: 300px;
}
#footer{
  text-align:center;
  background-color: #222;
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
}
#facebook{
font-size: 30px;
  color: white;
}
#instagram{
  font-size: 30px;
  color:white;
}
.span4 {
  border:3px solid black

}


.row h2{
  font-family: serif
}
.content-heading h2{
  font-family: serif;
}

.breakfast{
  background-image: linear-gradient(#e7ed4e, #9eef7f);
}

.lunch{
  background-image: linear-gradient(#9eef7f, #31cec9);
}
.dinner{
  background-image: linear-gradient(#31cec9, #358be8);
}
.carousel-control.right span,
.carousel-control.left span{
  font-size: 40px;
  position: absolute;
  top: 40%;
}


/*for the star rating thingy*/
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}
