.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: none;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;

}
#h0mepage {

  height:800px;
  background-size:cover;
  background-position:center;
  padding-top:250px;
}
#logoimage{
  width:80px;
  float:left;
  padding-bottom: 10px;
}
.container-fluid{
  padding-top:20px;
}
#h0mepage{
  font-family:serif;
  color:white;
}
.img-circle{
  height:300px;
  width: 300px;
}
#footer{
  align:center;
}
#facebook{
font-size: 30px;
  color:black;
}
#instagram{
font-size: 30px;
  color:black;
}
.span4 {
  border:3px solid black

}


.row h2{
  font-family: serif
}
.content-heading h2{
  font-family: serif;
}

.breakfast{
  background-image: linear-gradient(#e7ed4e, #9eef7f);
}

.lunch{
  background-image: linear-gradient(#9eef7f, #31cec9);
}
.dinner{
  background-image: linear-gradient(#31cec9, #358be8);
}
.carousel-control.right span,
.carousel-control.left span{
  font-size: 40px;
  position: absolute;
  top: 40%;
}
